.ease-transit {
    /*-moz-transition: all 1s ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 2s; */
    -moz-transition: all 0.5s linear;
    -moz-transform-style: preserve-3d;
    -moz-perspective: 1000;
}

.ease-transit.hand-0 {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.ease-transit.hand-5 {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -o-transform: rotate(5deg);
}

.ease-transit.hand-10 {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
}

.ease-transit.hand-15 {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
}

.ease-transit.hand-20 {
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -o-transform: rotate(20deg);
}

.ease-transit.hand-25 {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
}

.ease-transit.hand-30 {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -o-transform: rotate(30deg);
}

.ease-transit.hand-35 {
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}

.ease-transit.hand-40 {
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -o-transform: rotate(40deg);
}

.ease-transit.hand-45 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.ease-transit.hand-50 {
  -webkit-transform: rotate(50deg);
  -moz-transform: rotate(50deg);
  -o-transform: rotate(50deg);
}

.ease-transit.hand-55 {
  -webkit-transform: rotate(55deg);
  -moz-transform: rotate(55deg);
  -o-transform: rotate(55deg);
}

.ease-transit.hand-60 {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
}

.ease-transit.hand-65 {
  -webkit-transform: rotate(65deg);
  -moz-transform: rotate(65deg);
  -o-transform: rotate(65deg);
}

.ease-transit.hand-70 {
  -webkit-transform: rotate(70deg);
  -moz-transform: rotate(70deg);
  -o-transform: rotate(70deg);
}

.ease-transit.hand-75 {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -o-transform: rotate(75deg);
}

.ease-transit.hand-80 {
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -o-transform: rotate(80deg);
}

.ease-transit.hand-85 {
  -webkit-transform: rotate(85deg);
  -moz-transform: rotate(85deg);
  -o-transform: rotate(85deg);
}

.ease-transit.hand-90 {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.ease-transit.hand-95 {
  -webkit-transform: rotate(95deg);
  -moz-transform: rotate(95deg);
  -o-transform: rotate(95deg);
}

.ease-transit.hand-100 {
  -webkit-transform: rotate(100deg);
  -moz-transform: rotate(100deg);
  -o-transform: rotate(100deg);
}

.ease-transit.hand-105 {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -o-transform: rotate(105deg);
}

.ease-transit.hand-110 {
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  -o-transform: rotate(110deg);
}

.ease-transit.hand-115 {
  -webkit-transform: rotate(115deg);
  -moz-transform: rotate(115deg);
  -o-transform: rotate(115deg);
}

.ease-transit.hand-120 {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}

.ease-transit.hand-125 {
  -webkit-transform: rotate(125deg);
  -moz-transform: rotate(125deg);
  -o-transform: rotate(125deg);
}

.ease-transit.hand-130 {
  -webkit-transform: rotate(130deg);
  -moz-transform: rotate(130deg);
  -o-transform: rotate(130deg);
}

.ease-transit.hand-135 {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}

.ease-transit.hand-140 {
  -webkit-transform: rotate(140deg);
  -moz-transform: rotate(140deg);
  -o-transform: rotate(140deg);
}

.ease-transit.hand-145 {
  -webkit-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  -o-transform: rotate(145deg);
}

.ease-transit.hand-150 {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -o-transform: rotate(150deg);

}

.ease-transit.hand-155 {
  -webkit-transform: rotate(155deg);
  -moz-transform: rotate(155deg);
  -o-transform: rotate(155deg);
}

.ease-transit.hand-160 {
  -webkit-transform: rotate(160deg);
  -moz-transform: rotate(160deg);
  -o-transform: rotate(160deg);
}

.ease-transit.hand-165 {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -o-transform: rotate(165deg);
}

.ease-transit.hand-170 {
  -webkit-transform: rotate(170deg);
  -moz-transform: rotate(170deg);
  -o-transform: rotate(170deg);
}

.ease-transit.hand-175 {
  -webkit-transform: rotate(175deg);
  -moz-transform: rotate(175deg);
  -o-transform: rotate(175deg);
}

.ease-transit.hand-180 {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}